name: Set squid version to prod
on:
  push:
    tags:
      - 'prod-v*'

jobs:
  build_and_publish:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install pnpm
        uses: pnpm/action-setup@v4
        with:
          version: 10

      - name: Install squid CLI
        run: pnpm add -g @subsquid/cli

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Authenticate to squid
        env:
          API_TOKEN: ${{ secrets.SQUID_API_TOKEN }}
        run: sqd auth -k $API_TOKEN

      - name: update squid.yml
        run: |
          # Get the version from the tag
          VERSION=${GITHUB_REF#refs/tags/prod-}

          # Update prod tag
          sqd tags add prod --name origin-squid -s $VERSION --allow-tag-reassign

      - name: update grafana datasource
        env:
          GRAFANA_TOKEN: ${{ secrets.GRAFANA_TOKEN }}
        run: node scripts/update-grafana-ds.js

      - name: update railway FDW connection
        env:
          RAILWAY_DATABASE_URL: ${{ secrets.RAILWAY_DATABASE_URL }}
        run: |
          pnpm add pg
          node scripts/update-fdw.js
